<%= render "shared/second_header" %>

<%= form_with model: @autentication, url: message_path(@message.id), local: true do |f| %>
  <div class ="" >
    <%= img_tag "dammy.png" class: 'dammy-image' %>
    <div class ="">
      <p>PASSWORD</p>
      <div class ="">
        <%= f.password_field :password, class: "password-confirmation", placeholder: "" %>
      </div>
      <div class="">
        <%= f.submit "開封", class:"open-btn" %>
      </div>
    </div>
  </div>
<% end %>