<div class="new-message">
  <h1>残したい想い</h1>
  <%= form_with model: @message_tag, url: messages_path, local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
  <div class="posting-form">
    <div class="form">
      タイトル
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :title, class:"form-title", id:"form-title", placeholder:"タイトル名(必須 50文字以内)", maxlength:"50" %>
    <div class="form">
      メッセージ
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :message, class:"form-message", id:"form-message", placeholder:"メッセージ内容(必須 200文字以内)例)20年後の子供の誕生日に見て欲しい動画です。" ,rows:"5", maxlength:"200" %>
    <div class="form">
      誰に対してか
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :whom, class:"form-whom", id:"form-whom", placeholder:"誰に宛てたものか(必須 50文字以内)例)20年後の子どもたちへ", maxlength:"50" %>
    <div class="form">
      開封予定日
      <span class="indispensable">必須</span>
    </div>
    <div class="form-open-plan">
      <%= raw sprintf(
                  f.date_select(
                    :open_plan,
                    class: 'open-plan-object',
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: (Time.now.year),
                    end_year: (Time.now.year + 100),
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
    </div>
    <div class="form-caution">
      ※※※画像か動画どちらか1つの投稿にしてください。※※※
    </div>
    <div class="image-form">
      <div class="form">
      届ける想い(画像)
      </div>
      <div class="click-upload">
        <p>クリックしてファイルをアップロード</p>
        <%= f.file_field :images, name: 'message_tag[images][]', id:"form-image" %>
        <div id="image-list"></div>
      </div>
    </div>
    <div class="video-form">
      <div class="form">
      届ける想い(動画)
      </div>
      <div class="click-upload">
        <p>クリックしてファイルをアップロード</p>
        <%= f.file_field :video, id:"form-video" %>
      </div>
    </div>
    <div class="tag-form">
    タグ
    </div>
    <%= f.text_field :name, id:"form-tag", placeholder:"誕生日", maxlength:"20"%>
  </div>
  <div class="message-btn-contents">
    <%= f.submit "想いを残す" ,class:"message-btn" %>
    <%= link_to 'もどる', root_path, class:"back-btn" %>
  </div>
  <% end %>

</div>