<%= render "shared/second_header" %>

<div class="">
  <div class="content-user">
    <div class="user"><%= @user.nickname %>さんの投稿一覧</div>
    
      <% @messages.each do |message| %>
      <div class="contents-user">
        <%= link_to message_path(message.id), method: :get do %>
          <div class="content-top">
            <div class="element">タイトル：<%= message.title %></div>
            <div class="element">誰への想い：<%= message.whom %></div>
          </div>
          <p class="content-row">
            <% if message.video.attached? %>
              <%= video_tag rails_blob_path(message.video), autoplay: true, muted: true, loop: true, controles: true, class: "video" if message.video.present? %>
            <% else %>
              <%= image_tag message.image if message.image.present? %>
            <% end %>
          </p>
        <% end %>
      </div>
      <% end %>
    
  </div>
</div>